body {
    background-color: #FFF;
    color: #333;;
    font-family: 'Manrope', sans-serif;
    text-align: left;
    margin-bottom: 3em;
}

h1 {
    font-size: 56px;
}

h2 {
    text-decoration: underline dashed #50CE76;
}

h5 {
    font-size: 20px;
}

p {
    font-family: 'Source Sans Pro', sans-serif;
}

.main h6 {
    color: #50CE76;
    font-size: 18px;
}

#name {
    color: #50CE76;
}

.header {
    margin: 4em 0 3em 0;
    text-align: center;
}