body {
    background-color: #FFF;
    color: #333;;
    font-family: 'Manrope', sans-serif;
    text-align: left;
    margin-bottom: 3em;
}

h1 {
    font-size: 56px;
}

h2 {
    text-decoration: underline dashed #50CE76;
    text-align: center;
}

h5 {
    font-size: 20px;
    text-align: center;
}

p {
    font-family: 'Source Sans Pro', sans-serif;
}

hr {
    width: 70%;
}

li {
    font-size: 15px;
}

a {
    text-decoration: none;
    color: #50CE76;
    -webkit-transition: 0.25s;
    transition: 0.25s;
}

a:hover, a:active, a:visited, a:focus {
    text-decoration: none;
    color: #000;
    -webkit-transition: 0.25s;
    transition: 0.25s;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.header {
    margin: 4em 0 3em 0;
    text-align: center;
}

.header h6 {
    margin-top: 20px;
}

.social-icons {
    font-size: 25px;
    margin-top: 20px;
}

.social-icons a {
    display: inline-block;
    padding: 0 10px 0 10px;
}

.main {
    margin-top: 2em;
}

.main h2 {
    margin-top: 1em;
}

.main h6 {
    color: #50CE76;
    font-size: 18px;
}

.projects {
    margin-top: 35px;
}

#name {
    color: #50CE76;
}

.contact {
    margin-top: 1em;
}

.contact h6 {
    text-align: center;
}